version: '3'

services:

  media-app:
    container_name: media-app
    build: './env/node/10'
    working_dir: '/var/www'
    ports:
      - '10120:80'
    volumes:
      - '.:/var/www'

  media-db:
    container_name: media-db
    image: mongo:4.0.0    
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ~
      MONGO_INITDB_DATABASE: media
    ports:
      - '10112:27017'
    volumes:
      - '.persistency/mongodb/data:/data/db'
